<footer class="site-footer h-card">
  <data class="u-url" href="/"></data>

  <div class="wrapper">


    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <!-- <span style="display:inline;"><h2 class="footer-heading">I am Lucas Santos</h2></span> -->
          <li class="p-name">I am Lucas Santos</li><li><a class="u-email" href="mailto:lucas6eng@gmail.com">lucas6eng@gmail.com</a></li></ul>

      </div>

      <div class="footer-col footer-col-2"><ul class="social-media-list"><li><a href="https://github.com/iamlucassantos"><svg class="svg-icon"><use xlink:href="/assets/minima-social-icons.svg#github"></use></svg> <span class="username">iamlucassantos</span></a></li><li><a href="https://www.linkedin.com/in/lucasvsantos"><svg class="svg-icon"><use xlink:href="/assets/minima-social-icons.svg#linkedin"></use></svg> <span class="username">lucasvsantos</span></a></li><li><a href="https://www.twitter.com/lucas6eng"><svg class="svg-icon"><use xlink:href="/assets/minima-social-icons.svg#twitter"></use></svg> <span class="username">lucas6eng</span></a></li></ul>
</div>
<div class="footer-col footer-col-3">
  <p>{{ site.description | escape }}</p>
</div>


    </div>

  </div>

</footer>
