<!-- Assign images  -->
{% assign urls = include.url | split: "," %}
{% assign captions = include.caption | split: "," %}

<!-- Assign background color -->
{% if include.background-color %} 
  {% assign background-color = include.background-color %} 
{% else %} 
  {% assign background-color = "None" %} 
{%endif %}

<!-- Assign color -->
{% if include.color %} 
  {% assign color = include.color %} 
{% else %} 
  {% assign color = "White" %} 
{% endif %}

<!-- Assign width -->
{% if include.width %} 
  {% assign width = include.width %} 
{% else %} 
  {% assign width = "100%" %} 
{% endif %}

<div class="full-div my-3" style="background-color: {{ background-color }}; color: {{ color }} ">
  <div class="container p-2 p-md-4">

    {% if include.title %}
    <h1>{{ include.title }}</h1>
    {% endif %} 
      <div class="row">
        {% if urls.size > 1 %}
          {% for url in urls %}
          <div class="col-12 col-md-6">
            
            {% assign sub_caption = captions[forloop.index0] %}
            {% include image.html url=url width=width caption=sub_caption width=width color=color%}
          </div>
          {% endfor %}
        {% else %}
          <div class="col-12">
            {% assign sub_caption = captions[0] %}
            {% include image.html url=urls caption=sub_caption width=width color=color%}
          </div>
        {% endif %}
      </div>
  </div>
</div>
