<!-- url -->
{% assign url = include.url %}

<!-- Caption -->
{% if include.caption %}
  {% assign caption = include.caption %}
{% else %}
  {% assign caption = "" %}
{% endif %}

<!-- Group  -->
{% if include.group %}
  {% assign group = include.group %}
{% else %}
  {% assign group = "post" %}
{% endif %}


<!-- Width -->
{% if include.width %} 
  {% assign width = include.width %} 
{% else %} 
  {% assign width = "100%" %} 
{% endif %}

<!-- Assign color -->
{% if include.color %} 
  {% assign color = include.color %} 
{% else %} 
  {% assign color = "White" %} 
{% endif %}

<figure class="" style="color: {{color}};">
  <a href="{{url}}" data-lightbox="{{group}}" data-title="{{caption}}">
  <img
    src="{{url}}"
    alt="{{title}}"
    class="{% if include.left %}float-left{% else %}mx-auto d-block{% endif %}
     img-fluid {% if include.no-padding %}{% else %}mr-4{% endif %} "
    style="width:{{ width }}"
  />

  </a>
  <figcaption class="text-center mt-2">{{ caption | markdownify}}</figcaption>

</figure>
