---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import
  "minima/skins/{{ site.minima.skin | default: 'classic' }}",
  "minima/initialize";

h1, h2 {
  font-weight: 700

}
 
// profile image
img.profile_pic{
  border-radius: 50%;
}

#main-nav a{
    font-size:large;
}

#main-nav img {
  // object-fit: cover;
  width: 20%;
  height: auto;
  margin-right: 5px;
}

p.callout-text{
  font-size:xx-large;
}