---
layout: page
---
{{ content }}
<h2 class="nt-3"> Hey, I'm Lucas! 👋 </h2>

<p class="lead"> 
    An aerospace engineering student who loves aviation and software development.
</p>
<span class="text-muted"> <a target="_blank" href="{{ site.author.github }}" class="SocialLink"> <u>GitHub</u></a> / <a target="_blank" href="{{ site.author.linkedin }}" ><u>LinkedIn</u></a> /  <a href="{{ site.author.resume }}" target="_blank" ><u>Resume</u></a> / <a target="_blank" href="mailto:{{ site.author.email }}" ><u>Email</u></a></span>
</div>
