---
layout: page
---

          {{ content }}

    
          <div class="row row-cols-1 row-cols-md-2">
            {% for project in site.data.projects %}
            <div class="col mb-4">
              <div class="card bg-dark h-100">
                <img src="{{ project.image }}" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">{{ project.name }}</h5>
                  <p class="card-text">{{ project.description }}</p>
                  {% if project.post %}
                    <a href="{% link _posts/{{ project.post }}%}" class="stretched-link"></a>
                  {% endif %}
                </div>
              </div>
            </div>
            {% endfor %}
            
          </div>

          <div class="container-fluid">
            <div class="row">
              {% for project in site.projects reversed %}
              <!-- <a href="{{ project.url | relative_url }}" style="display: block"> -->
              <div class="col-12 col-md-6 p-2 position-relative"  >
              <div class="col-12 p-4 h-100 bg-dark rounded">
                <div class="d-flex h-100 flex-column">
                <h4>{{ project.title }}</h4>
                <p>{{ project.description }}</p>
               
                <div class="mt-auto">
                {% for tech in project.tech %}
                <button type="button" class="btn btn-outline-dark btn-sm" disabled>{{ tech }}</button>
                {% endfor %}    
                </div>   
                <a href="{{ project.url | relative_url }}" class="stretched-link"></a>
              </div>
              </div>
            </div>
              {% endfor %}
            </div>
          </div>

        </div>



      
      
