---
layout: default
---

<script>
  function goBack() {
    window.history.back();
  }
</script>
<style>
  div.goback {
    text-align: right;
  }

  .close {
    border: 0;
    background: transparent;
    float: right;
    font-size: 28px;
    font-weight: bold;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    filter: alpha(opacity=25);
    opacity: 0.2;
  }
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
    filter: alpha(opacity=50);
    opacity: 0.5;
  }
</style>

<article
  class="post h-entry"
  itemscope
  itemtype="http://schema.org/BlogPosting"
>
  <header class="post-header">
    <div class="goback">
      <button onclick="goBack()" class="goback close">&times;</button>
    </div>

    <h1 class="post-title p-name" itemprop="name headline">
      {{ page.title | escape }}
    </h1>

    <!-- <p class="post-meta">
      {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y"
      -%}
      <time
        class="dt-published"
        datetime="{{ page.date | date_to_xmlschema }}"
        itemprop="datePublished"
      >
        {{ page.date | date: date_format }}
      </time>
      {%- if page.modified_date -%} ~ {%- assign mdate = page.modified_date |
      date_to_xmlschema -%}
      <time class="dt-modified" datetime="{{ mdate }}" itemprop="dateModified">
        {{ mdate | date: date_format }}
      </time>
      {%- endif -%} {%- if page.author -%} • {% for author in page.author %}
      <span itemprop="author" itemscope itemtype="http://schema.org/Person">
        <span class="p-author h-card" itemprop="name">{{ author }}</span></span
      >
      {%- if forloop.last == false %}, {% endif -%} {% endfor %} {%- endif -%}
    </p> -->

    <!-- <div class="container m-0 p-0">
      <div class="col-12 p-4 h-100 bg-light rounded"> -->
        <div class="d-flex bg-light rounded p-2 justify-content-between">
        <div class="btn-group ">
          {%- if page.live -%}
          <a
            href="{{ page.live }}"
            target="_blank"
            class="btn btn-light btn-sm"
            aria-current="page"
            >Live</a
          >
          {%- endif -%} {%- if page.source -%}
          <a
            href="{{ page.source }}"
            target="_blank"
            class="btn btn-light btn-sm"
            >Source</a
          >
          {%- endif -%}
        </div>
        <span>
        {% for tech in page.tech %}
        <button type="button" class="btn btn-outline-dark btn-sm" disabled>{{ tech }}</button>
        {% endfor %}   
      </span> 
      </div>
        

  </header>

  <div class="post-content e-content" itemprop="articleBody">{{ content }}</div>

  {%- if site.disqus.shortname -%} {%- include disqus_comments.html -%} {%-
  endif -%}

  <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>
</article>
